<ion-content [fullscreen]="true">
  <ion-img src="../../../assets/img/Pasted Graphic 6.png" id="headerimg"></ion-img>
  <h1>MEET THE CHEF</h1>
  <ion-img src="../../../assets/img/MEET THE CHEF.png"></ion-img>

  <ion-grid>
    <ion-row>
      <ion-col sizeXl="2" sizeLg="3" sizeMd="4" sizeSm="5" sizeXs="12">
        <div class="avatar-container">
          <div class="image-container" 
               [ngStyle]="{ backgroundImage: 'url(' + (profilePic || '../../../assets/img/profileSymbol.png') + ')' }">
          </div>
          
          <label for="avatar-input-file" *ngIf="isAuthenticated">
            <div class="icon-wrapper">
              <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)" />
              <ion-icon id="icon" name="create-outline"></ion-icon>
            </div>
          </label>
        </div>
      </ion-col>
      <ion-col sizeXl="10" sizeLg="9" sizeMd="8" sizeSm="7" sizeXs="12">
        <div id="description">
          <h2>Honey Edwards</h2>
        <p style="font-style: italic;">Owner</p>
        <p>Honey1bud&#64;gmail.com</p>
        <p>816-887-6115</p>
        </div>
        

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          I am Chef Honey, the founder and executive chef of Honey's Kitchen. My culinary journey began in the sweet
          world of pastry, where I honed my skills and developed a deep passion for creating delightful desserts.
          Working in a bakery allowed me to perfect my craft and understand the intricate balance of flavors
          and textures. <br><br>My career took a pivotal turn when I had the privilege of studying under some of Kansas
          City's
          most renowned chefs. Their mentorship and guidance were instrumental in shaping my approach to cooking and
          instilling in me the values of
          dedication, creativity, and excellence.<br><br> At Honey's Kitchen, my mission is to bring convenience and
          gourmet
          dining to your table. I look forward to sharing my passion for food with you and creating
          memorable culinary experiences that are both stress-free and exceptional.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 style="text-align: center;">Schedule a Consulation</h2>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       
          <!-- Calendly inline widget begin -->
          <div class="calendly-inline-widget" data-url="https://calendly.com/17oogway04/catering"
            style="min-width:320px;height:700px;"></div>
          <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
          <!-- Calendly inline widget end -->
       
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>