#first {
  font-size: 3.9rem;
  color: white;
  position: absolute;
  margin-top: 200px;
  margin-left: 130px;
  transform: translate(-50%, -50%);
  font-family: "Maname", serif;
  font-weight: 600;
  font-style: normal;
}
#second {
  font-size: 3.9rem;
  color: white;
  position: absolute;
  margin-top: 255px;
  margin-left: 150px;
  transform: translate(-50%, -50%);
  font-family: "Maname", serif;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 600px) {
    #first{
      font-size: 4.8rem;
    }

    #second{
      font-size: 4.8rem;
    }   
}

p{
  font-family: "Maname", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}
h2{
  text-align: center;
  font-family: "Maname", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2em;
}

#header{
  font-family: "Maname", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  text-align: center;
}
#centered{
  margin: auto;
  width: auto;
  text-align: center;
}

#infoimg{
  border-radius: 50%;
  object-fit: cover;
}


.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot-container {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}