<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col id="header" sizeLg="12" sizeMd="8" sizeSm="6" >
        <ion-card style="margin-top: 60px; text-align: center; background-color: black; height: 340px;">
          <ion-card-header>
            <ion-card-title style="font-size: 4rem; color: white;">
              Honey's Kitchen
            </ion-card-title>
            <br>
            <p>-----------------------------------------------------------------------------------</p>
          </ion-card-header>
          <ion-card-content style="font-size: 1.5rem; color: white; margin-bottom: 10px;">
            Private Chef Service | Dining Made Easy
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let image of [1,2,3,4,5,6,7,8,9]">
        <div class="img-wrapper" [style.background-image]="'url(../../../assets/img/' + image + '.jpeg)'">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="text-align: center;">
    <h1 style="font-size: xx-large; padding-bottom: 20px;">Personalized Meal Preps cooked in your own home, or delivered
      weekly</h1>
    <!-- <p style="font-size: large;">816-887-6115</p>
    <p>HONEY1BUD&#64;GMAIL.COM</p> -->
  </div>
</ion-content>