.img-wrapper {
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
ion-content{
  font-family: "Maname", serif;
    font-weight: 400;
    font-style: normal;  
}

@media screen and (max-width: 1101px)
{
    #header{
        display: none;
    }
}

