<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
  </ion-card>
  <ion-card>    
    <img src="../../../assets/img/CakeFlowers.jpg" style="object-fit: cover; height: 300px; width: 100%;">
    <ion-card-header>
      <ion-card-title id="title">Paypal</ion-card-title>
    </ion-card-header>
    <ion-card-content id="content">
      Click on the link to pay using Paypal: 
      <a href="https://paypal.me/danielgilly?country.x=US&locale.x=en_US">Paypal</a>
    </ion-card-content>
  </ion-card>

  <ion-card >
  </ion-card>
  <ion-card>    
    <img src="../../../assets/img/9.jpeg" style="object-fit: cover; height: 300px; width: 100%;">
    <ion-card-header>
      <ion-card-title id="title">CashApp</ion-card-title>
    </ion-card-header>
    <ion-card-content id="content">
      Click on the link to pay using CashApp: 
      <a href="https://cash.app/$GillymaN2">CashApp</a>
    </ion-card-content>
  </ion-card>

  <ion-card>    
    <img src="../../../assets/img/8.jpeg" style="object-fit: cover; height: 300px; width: 100%;">
    <ion-card-header>
      <ion-card-title id="title">Venmo</ion-card-title>
    </ion-card-header>
    <ion-card-content id="content">
      Click on the link to pay using Venmo: 
      <a href="">Venmo</a>
    </ion-card-content>
  </ion-card>
</ion-content>