<ion-app>
  <ion-header [translucent]="true" *ngIf="showHeader">
    <ion-toolbar>
      <ion-title>
        HONEY'S KITCHEN
      </ion-title>
      <ion-button color="dark" slot="end" fill="clear" routerLink="/home">Home</ion-button>
      <ion-button color="dark"slot="end" fill="clear" routerLink="/services-offered">Services</ion-button>
      <ion-button color="dark"slot="end" fill="clear" routerLink="/schedule">Schedule</ion-button>
      <ion-button color="dark"slot="end" fill="clear" routerLink="/payment">Make a payment</ion-button>
      <ion-button color="dark"shape="round" slot="end">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maname&display=swap" rel="stylesheet">
  <ion-router-outlet></ion-router-outlet>
</ion-app>