<ion-content [fullscreen]="true">

  <ion-list id="form">
    <ion-header>
    <ion-title>
      Sign Up
    </ion-title>
  </ion-header>
    <form #form="ngForm" (ngSubmit)="signUp()">
      <ion-item class="formItem" color="none" lines="none">
        <ion-input type="text" label="First name" labelPlacement="floating" placeholder="Enter first name" required
          name="firstName" [(ngModel)]="newUser.firstName"></ion-input>
      </ion-item>

      <ion-item class="formItem" color="none" lines="none">
        <ion-input type="text" name="lastName" label="Last name" labelPlacement="floating" required
          placeholder="Enter last name" [(ngModel)]="newUser.lastName"></ion-input>
      </ion-item>

      <ion-item class="formItem" color="none" lines="none">
        <ion-input type="email" label="Email" name="email" labelPlacement="floating" placeholder="Enter Email" required
          [(ngModel)]="newUser.email"></ion-input>
      </ion-item>

      <ion-item class="formItem" color="none" lines="none">
        <ion-input type="text" label="Phone number" name="phoneNumber" labelPlacement="floating"
          placeholder="Enter Phone Number" [(ngModel)]="newUser.phoneNumber"></ion-input>
      </ion-item>

      <ion-item class="formItem" color="none" lines="none">
        <ion-textarea type="text" label="Address" name="address" labelPlacement="floating" placeholder="Enter Address"
          [(ngModel)]="newUser.address"></ion-textarea>
      </ion-item>
      <ion-item class="formItem" color="none" lines="none">
        <ion-input type="text" label="Password" name="password" labelPlacement="floating" required
          placeholder="Enter a password" [(ngModel)]="newUser.password"></ion-input>
      </ion-item>


      <div id="submit">
        <ion-button class="formItem" shape="round" type="submit" color="none">Sign Up</ion-button>
      </div>
      <div id="submit">
        <ion-button class="formItem" shape="round" color="none" routerLink="/login">Log in</ion-button>
      </div>
    </form>
  </ion-list>
</ion-content>